@page
@model nscccoursemap_tillyjay.Pages_AdvisingAssignments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Advising Assignments</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdvisingAssignment[0].Instructor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvisingAssignment[0].DiplomaYearSection)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.AdvisingAssignment[0].DiplomaYearSection.DiplomaYear.Diploma)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.AdvisingAssignment[0].DiplomaYearSection.DiplomaYear)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AdvisingAssignment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.FirstName) @Html.DisplayFor(modelItem => item.Instructor.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiplomaYearSection.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiplomaYearSection.DiplomaYear.Diploma.Title)
            </td>
                            <td>
                @Html.DisplayFor(modelItem => item.DiplomaYearSection.DiplomaYear.Title)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
