@page
@model nscccoursemap_tillyjay.Pages_DiplomaYears.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Diploma Years</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                 @Html.DisplayNameFor(model => model.DiplomaYear[0].Diploma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiplomaYear[0].Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DiplomaYear) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Diploma.Title)
               
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
